html, body {
    height: 100%;
}

:root {
  --header-size: 3.5rem;
}



body {
    display: flex;
    align-items: center;
    justify-content: start;

    flex-direction: column;
}

/* About us section */
#about-us {
    margin: 0 1rem;
}

#about-us * {
    text-align: center;
}

#about-us-title {
    margin-bottom: 1em;
    margin-top: 0em;
}

#about-us-text-container {
    background-color: var(--box-dark-color);
    border: 1px solid var(--box-dark-border-color);
    border-radius: var(--border-radius);

    padding: 1em;
    max-width: 50em;

    box-shadow: inset 5px 0px 0px 0px var(--nisio); /* Thing at the side */

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 2em;

}

#about-us-main-content-container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1.5em;

    padding: 0;
}
/* Text */
#about-us-content p {
    text-align: center;
}

#about-us-content br {
    height: 1em;
}

/* Author Image */
.about-us-author-picture {
    height: 6em;
    width: auto;
    float: left;
}


/* Author Text */
.about-us-author {
    color: var(--text-secondary);
}

.about-us-author i {
    color: var(--text-secondary);
}