/* Orignal: Atom One Dark. Modified for contrast */
body pre code.hljs{
    display:block;
    overflow-x:auto;
    padding:1em;
    font-family: monospace;
}
body code.hljs{
    padding:3px 5px
}
body .hljs{
    color:#dfe7f6;
    background:#282c34;
    font-family: monospace;
}
body .hljs-tag {
    color:#dfe7f6;
}

body .hljs-comment,.hljs-quote{
    color:#5c6370;
    font-style:italic
}
body .hljs-doctag,.hljs-formula,.hljs-keyword{
    color:#c678dd
}
body .hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{
    color:#e06c75
}
body .hljs-literal{
    color:#56b6c2
}
body .hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{
    color:#98c379
}
body .hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{
    color:#d19a66
}
body .hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{
    color:#61aeee
}
body .hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{
    color:#e6c07b
}
body .hljs-emphasis{
    font-style:italic
}
body .hljs-strong{
    font-weight:700
}
body .hljs-link{
    text-decoration:underline
}
