/* Base page styling */
main {
    max-width: 60em;
    margin: auto;
    margin-top: 20px;
}
/* Coming soon */
main * {
    text-align: center;
}

/* Hammer */
#hammer {
    display: block;
    margin: auto;
    height: 8em;

    margin-bottom: 1em;

    transition: transform 0.2s ease-in-out;
}

#hammer:hover {
    transform: rotate(-5deg);
    cursor: pointer;
}