:root {
  --header-size: 3.5rem;
}

body {
    margin-top: 3.5rem;
}

header {
    background-color: var(--header-color);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid var(--header-border-color);

    width: 100vw;
    height: 50px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    z-index: 1000;
}

header * {
    white-space: nowrap;
}

header a {
    text-decoration: none;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1em;
}

header .title-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  height: 2rem;
}

header .title-holder .title-img-holder {
  height: 1.5rem;
  width: 1.5rem;

  position: relative;
}

.title-img-holder img {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.hovering-title-image {
    display: none;
}

.title-holder:hover .hovering-title-image,
.title-holder:active .hovering-title-image {
    display: block;
}

.title-holder #website-title, #website-title-short {
    font-family: "Satoshi-Black",
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif;;
}

#website-title-short {
    display: none;
}

/* Header Navigation */
.header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.header-navigation > * {
    text-decoration: none;
    padding: 0.3em 0.5em;
    border-radius: var(--border-radius);
}

.header-navigation > *:hover {
    background-color: var(--button-primary-hover);
    cursor: pointer;
}

.home-nav-button img {
    display: none;
}

/* Nav hamburger */
#link-hamburger-menu {
    height: 2.5em;
    width: 2.5em;
    padding: 0.6em;

    background-color: transparent;
    border-radius: 80%;
    border: none;

    position: relative;

    display: none; /* Hide initially */

}

#link-hamburger-menu:hover {
    background-color: var(--button-primary-hover);
}

#link-hamburger-menu img {
    filter: var(--icon-filter);

    display: block;
    height: 100%;
    width: 100%;
}

/* Hamburger menu items */
#hamburger-dropdown {
    background-color: var(--header-color);
    border: 1px solid var(--header-border-color);
    border-radius: var(--border-radius);

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    gap: 0.2em;

    width: 5em;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 10%);

    overflow: hidden;

    transition: opacity 0.1s ease-in-out;
}

#hamburger-dropdown a {
    width: 100%;
    padding: 0.3em;
}

#hamburger-dropdown :nth-child(even) {
    background-color: var(--box-color);
}
/* Header right side */
.header-right {
    display: flex;
    flex-direction: row;
    gap: 1em;

    height: 2em;
}

.header-right img {
    height: 100%;
}

/* Theme selector (dark/light mode) */
#theme-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    height: auto;

    /* padding: 0.3em 0.5em; */
    border-radius: var(--border-radius);

    /* Make it not selectable */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#theme-selector img {
    height: 80%;
}

#theme-selector:hover {
    background-color: var(--button-primary-hover);
    cursor: pointer;
}

/* Media Query (Collapse UI for smaller devices) */
@media screen and (max-width: 45em) {
    .header-navigation > a {
        display: none;
    }

    .header-left {
        gap: 1em;
    }

    #link-hamburger-menu {
        display: block;
    }
}

@media screen and (max-width: 35em) {
    #theme-selector p {
        display: none;
    }

    #theme-selector img {
        height: 120%;
    }
}

@media screen and (max-width: 27em) {
    #website-title-short {
        display: block;
    }

    #website-title {
        display: none;
    }
}