:root {
    --header-size: 60px;
    --content-top-margin: 0px;
    --table-of-contents-top-margin: 10px;
}


/* Table of contents */
nav {
    position: sticky;
    top: calc(var(--header-size) + var(--table-of-contents-top-margin));
    bottom: 0;
    height: calc(100vh - var(--header-size));
    overflow-y: auto;
}

#table-of-contents-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#table-of-contents-items a {
    display: inline-block;
    width: auto;

    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;

    border-left: 2px solid var(--text-secondary);
    color: var(--text-secondary);
    text-decoration: none;

}

#table-of-contents-items a:hover {
    color: rgb(255, 137, 137);
}

#table-of-contents-items a.activeTableOfContentItem {
    border-left: 2px solid var(--active-table-of-contents-item-border);
    background-color: var(--active-table-of-contents-item);
    color: var(--active-table-of-contents-item-text);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    font-family: "Satoshi-Medium",
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif;
    ;
}

/* Article specific styling */
main {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 200px minmax(0, 1fr) 200px;
    margin: auto;
    width: 100%;
    max-width: 1500px;
}

@media screen and (max-width: 60rem) {
    #content-empty {
        display: none;
    }

    nav {
        display: none;
    }

    main {
        padding: 0 2rem;
        grid-template-columns: minmax(0, 1fr);
    }
}

.article-card-tags {
    margin: 0;
}

#article-title {
    margin-top: 0;
    font-family: "Stardom-Regular", Times, serif;
}

#article-info {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 0.1em;
}

#article-info p.article-info-item {
    color: var(--text-secondary);
    font-style: italic;
}


article hr {
    margin: 0;
    border-color: var(--text-secondary);
}

article hr:first-of-type {
    margin-bottom: 0.5rem;
}


article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    margin-top: 1em;
    margin-bottom: 0.2em;
    scroll-margin-top: var(--header-size);
}



article img {
    display: block;
    margin: 1em auto;

    width: auto;
    height: auto;

    max-width: 80%;
    max-height: 20rem;

    object-fit: contain;
    border-radius: var(--border-radius);

}

article figcaption {
    text-align: center;
    color: var(--text-secondary);
    margin-top: -1em;
}

article li {
    margin-left: 1em;
}
/* Links */
article a[target="_blank"]::after {
    content: url("/assets/site-assets/external-link.svg");

    display: inline-block;

    width: 1em;
    height: 1em;

    margin-left: 0.25em;
}

article a:link {
    color: var(--link);
}

article a:visited {
    color: var(--link-visited);
}

article a:hover,
article a:focus {
    color: var(--link-hover);
}

article a:active {
    color: var(--link-active);
}

/* Alternative links are defined in styles.css */


/* Alerts */
.alert {
    --modal-accent-color: rgb(255, 255, 255); /* Each variable is set based on the variant. This is just a fallback */

    max-width: 40rem;
    min-height: 2rem;

    background-color: var(--box-dark-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--box-border-color);

    padding: 0.5rem;
    padding-left: 1em;
    margin: 1em auto;

    position: relative;
    overflow: hidden;
}

.alert * {
    width: 100%;
}
.alert h1:first-of-type {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

/* Alert stripe at the side */
.alert::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 0.3em;
    background-color: var(--modal-accent-color);
}
.alert h1:first-of-type::before {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.2rem;
    line-height: 0;
}

/* Alert variants */
.alert.warning {
    --modal-accent-color: #ffb027ff;
}

.alert.warning h1:first-of-type::before {
    content: url('/assets/site-assets/icons/warning.svg');
}

.alert.info {
    --modal-accent-color: rgb(75, 189, 255);
}

.alert.info h1:first-of-type::before {
    content: url('/assets/site-assets/icons/info.svg');
    height: 0.95em;
    width: 0.95em;
}
/* Code Block */
.code-block {
    max-width: 39rem;
    margin: 1rem auto;

    background-color: var(--box-color);
    border: 1px solid var(--box-border-color);
    border-radius: var(--border-radius);

    display: grid;
    grid-template-rows: 2.5rem 1fr;
    overflow: hidden;
}

.code-block[data-includes-preview="true"] {
    max-width: 55rem;
}

.code-block-header {
    border-bottom: 1px solid var(--box-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.code-block-header .right-side {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.2rem;
}

.code-block-bottom {
    width: 100%;
    height: 100%;
    max-height: 20rem;

    display: grid;
    grid-template-columns: 1fr auto;
}

.code-block[data-includes-preview="true"] .code-block-bottom {
    height: 20rem;
}

@media screen and (max-width: 45rem) {
    .code-block-bottom {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1050px) and (min-width: 60rem) {
    .code-block-bottom {
        grid-template-columns: 1fr;
    }
}

.code-block-content {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-color: var(--text-primary) transparent;
    background-color: var(--code-bg);
} 

.code-block[data-includes-preview="true"] .code-block-content {
    padding: 0;
}

.code-block-content > * {
    height: 100%;
    width: 100%;
    
}

.code-block-content * {
    font-family: monospace;
    font-optical-sizing: auto;
}

.editor-loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    background-color: var(--code-bg);
}

.editor-loading-indicator img {
    height: 2.2rem;
    width: 2.2rem;
}

.code-block-preview {
    background-color: white;
    overflow: auto;
    width: 100%;
    height: 100%;
    border: none;
}