_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
eslint.config.mjs
node_modules
package-lock.json
package.json
_posts/2025-10-22-html-guide.html
assets/cover-images/html-guide.png
assets/cover-images/html-guide.ase
