---
permalink: "/home"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dima News Network</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/article-tag-colors.css">

    <link rel="apple-touch-icon" sizes="32x32" href="/assets/site-assets/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/site-assets/icon-fill.png">

    <meta property="og:title" content="Dima News Network">
    <meta property="og:description" content="The best news, the Dima News.">
    <meta property="og:image" content="/assets/site-assets/dnn-embed-image.png">
    <meta property="og:url" content="/home/">
    <meta property="og:type" content="website">
</head>
<body>
    {% include header.html %}

    <div class="home">
        <div id="home-title-container">
            <div class="title-text">
                <img src="/assets/site-assets/icon.png" class="pixelated-img">
                <h1>Dima News Network</h1>
            </div>
            <p>The best news, <span class="accent-color">the Dima news</span>.</p>
        </div>

        <div id="articles">
            {% for article in site.posts %}
            <a href="{{ article.url }}">
                <div class="card">
                    <img src="/assets/cover-images/{{ article.coverImage }}">
                    <div class="article-card-info">
                        <div class="article-card-tags">
                            {% include article-tags.html article-tags=article.article_tags %}
                        </div>
                        <p class="article-card-title">{{ article.title }}</p>
                        <p class="article-publishing-info">

                            <small>{% include formatted-date.html date=article.date %}</small>
                            <small>By {{ article.author }}</small>
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
            
        </div>
    </div>

</body>
</html>