{% for tag in include.article-tags %}
    {% assign firstChar=tag.last | slice: 0, 1 %}
    {% if firstChar == "#" %}
        <!-- Using a hex colour -->
        <span style="background-color: {{ tag.last }};">
            {{ tag.first }}
        </span>
    {% elsif tag.last == "young" %}
        <!-- Customise directly, as css files can't use baseurl  -->
        <span style="
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
            background-image: url('{{site.baseurl}}/assets/site-assets/young-tag.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        ">
            {{ tag.first }}
        </span>
    {% else %}
        <!-- Using built-in colour -->
        <span class="tag-{{ tag.last }}">
            {{ tag.first }}
        </span>
    {% endif %}
{% endfor %}
