/* Main variables */
:root {
    --text-primary: rgb(250, 250, 250);
    --text-secondary: rgb(174, 174, 174);
    --background: rgb(32, 32, 32);
    --accent: rgb(255, 137, 137);

    --link: rgb(79, 193, 255);
    --link-visited: rgb(79, 193, 255);
    --link-hover: rgb(77, 139, 255);
    --link-active: rgb(222, 243, 255);

    --alt-link: rgb(255, 137, 137);
    --alt-link-visited: rgb(255, 137, 137);
    --alt-link-hover: rgb(255, 77, 77);
    --alt-link-active: rgb(255, 190, 190);

    --box-color: rgb(41, 41, 41);
    --box-border-color: rgb(94, 94, 94);
    --border-radius: 5px;

    --button-primary: rgb(40, 40, 40);
    --button-primary-hover: rgba(70, 70, 70, 1);

    --icon-filter: brightness(100%); /* This turns icons white */
}
/* Header/Footer */
:root {
    --header-color: rgba(30, 30, 30, 0.9);
    --header-border-color: rgb(81, 81, 81);
}

:root {
    --footer-color: rgb(23, 23, 23);
    --footer-border-color: rgb(81, 81, 81);
}
/* Table of contents */
:root {
    --active-table-of-contents-item: rgb(118, 28, 28);
    --active-table-of-contents-item-border: rgb(255, 137, 137);
    --active-table-of-contents-item-text: var(--text-primary);
}
/* Arteicl Tags */
:root {
    --tag-red: #ff4242;
    --tag-orange: #ff7e42;
    --tag-yellow: #ffc124;
    --tag-green: #84ff5e;
    --tag-light-blue: #4dc9ff;
    --tag-blue: #3543ff;
    --tag-purple: #b43bff;
    --tag-pink: #ff69c5;
}
