/* Main variables */
:root {
    --text-primary: rgb(250, 250, 250);
    --text-secondary: rgb(174, 174, 174);
    --background: rgb(32, 32, 32);
    --christmas-snowflake-bg-highlight: rgb(64, 78, 84);
    --accent: rgb(255, 137, 137);
    --header-link-hover: rgba(70, 70, 70, 1);

    --link: rgb(79, 193, 255);
    --link-visited: rgb(79, 193, 255);
    --link-hover: rgb(77, 139, 255);
    --link-active: rgb(222, 243, 255);

    --alt-link: rgb(255, 137, 137);
    --alt-link-visited: rgb(255, 137, 137);
    --alt-link-hover: rgb(255, 77, 77);
    --alt-link-active: rgb(255, 190, 190);

    --box-color: rgb(41, 41, 41);
    --box-border-color: rgb(94, 94, 94);

    --box-dark-color: rgb(25, 25, 25);
    --box-dark-border-color: rgb(51, 51, 51);

    --border-radius: 5px;

    --button-primary: rgb(240, 240, 240);
    --button-text: rgb(10, 10, 10);
    --button-primary-hover: rgb(199, 199, 199);
    --button-primary-active: rgb(167, 167, 167);

    --icon-filter: brightness(100%); /* This turns icons white */

    --nisio: #8a95ff;
    --code-bg: #282c34;
}

/* Header/Footer */
:root {
    --header-color: rgba(30, 30, 30, 0.9);
    --header-border-color: rgb(81, 81, 81);
}

:root {
    --footer-color: rgb(23, 23, 23);
    --footer-border-color: rgb(81, 81, 81);
}
/* Table of contents */
:root {
    --active-table-of-contents-item: #631919;
    --active-table-of-contents-item-border: rgb(255, 137, 137);
    --active-table-of-contents-item-text: var(--text-primary);
}
/* Article Tags */
:root {
    --tag-red: #ff4242;
    --tag-orange: #ff7e42;
    --tag-yellow: #ffc124;
    --tag-green: #00c12d;
    --tag-light-blue: #4dc9ff;
    --tag-blue: #3543ff;
    --tag-purple: #b43bff;
    --tag-pink: #ff69c5;
}
