/* Main variables */
:root {
    --text-primary: rgb(20, 20, 20);
    --text-secondary: rgba(111, 111, 111, 1);
    --background: rgb(255, 255, 255);
    --accent: rgb(255, 137, 137);

    --link: rgba(30, 176, 255, 1);
    --link-visited: rgba(30, 176, 255, 1);
    --link-hover: rgba(57, 127, 255, 1);
    --link-active: rgba(131, 209, 255, 1);

    --alt-link: rgb(255, 137, 137);
    --alt-link-visited: rgb(255, 137, 137);
    --alt-link-hover: rgb(255, 77, 77);
    --alt-link-active: rgb(255, 190, 190);

    --box-color: rgba(240, 240, 240, 1);
    --box-border-color: rgba(200, 200, 200, 1);
    --border-radius: 5px;

    --button-primary: rgb(160, 160, 160);
    --button-primary-hover: rgb(205, 205, 205);

    --icon-filter: brightness(0%); /* This turns icons black */
}
/* Header/Footer */
:root {
    --header-color: rgba(255, 255, 255, 0.9);
    --header-border-color: rgba(194, 193, 193, 1);
}

:root {
    --footer-color: rgba(235, 235, 235, 1);
    --footer-border-color: rgb(197, 197, 197);
}
/* Table of contents */
:root {
    --active-table-of-contents-item: rgb(255, 210, 210);
    --active-table-of-contents-item-border: rgb(255, 60, 60);
    --active-table-of-contents-item-text: var(--text-primary);
}
/* Article Tags */
:root {
    --tag-red: #ff6363ff;
    --tag-orange: #ff8045ff;
    --tag-yellow: #ffe37dff;
    --tag-green: #53d872;
    --tag-light-blue: #96e0ffff;
    --tag-blue: #5c6cffff;
    --tag-purple: #cd7dffff;
    --tag-pink: #ffa0dbff;
}
