<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title_short }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/news-article.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/article-tag-colors.css">

    <meta name="theme-color" content="#ff8989"/>

    <meta property="og:title" content="{{ page.title_short }}">
    <meta property="og:description" content="Dima News Network | The best news, the Dima News.">
    <meta property="og:image" content="{{ site.baseurl }}/assets/cover-images/{{ page.cover_image }}">
    <meta property="og:url" content="{{site.baseurl}}{{ page.url }}">
    <meta property="og:type" content="website">

    
    <link rel="apple-touch-icon" sizes="32x32" href="{{ site.baseurl }}/assets/site-assets/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/site-assets/icon-fill.png">
</head>

<body>
    {% include header.html %}
    <main id="content">
        <div class="empty" id="content-empty"></div>
        <article>

            <h1 id="article-title">{{ page.title }}</b></h1>
            <div class="article-card-tags">
                {% include article-tags.html article-tags=page.article_tags %}
            </div>

            <div id="article-info">
                <p class="article-info-item">{% include formatted-date.html date=page.date %}</p>
                <p class="article-info-item">By {{ page.author }}</p>
            </div>


            <hr>

            {{ content }}
        </article>
        <nav>
            <h6 id="table-of-contents-title">Table of Contents</h6>
            <div id="table-of-contents-items">
                <!-- Filled in automatically with javascript -->
            </div>
        </nav>
    </main>
    {% include footer.html %}
</body>
<script src="{{ site.baseurl }}/scripts/tableOfContents.js"></script>

</html>